<div class="product--list--container">
    <!-- <img [src]="product.pImage">
    <p>Name: {{product.name}}</p>
    <p>Cost: ${{product.cost}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discount Price: ${{ getDiscountedPrice()}}</p>
    <p>In Stock: {{product.inStock > 0 ? 'Only ' + product.inStock + ' left' : 'Not in Stock' }}</p>
    <button (click)="decrementCartCount()"> - </button>
    <span>{{ cartCount }}</span>
    <button (click)="incrementCartCount()"> + </button> -->
    <app-search></app-search>

</div>